<!DOCTYPE html>
<html lang="es">

<head>
  <title>Gestión de asignaturas</title>
  <th:block th:replace="~{fragmentos/general.html :: headerfiles}"></th:block>
</head>

<body>
    <div th:replace="~{fragmentos/general.html :: navigation}"> </div>
    <div class="container m-3">
        <form class="row"
            th:action="@{/asignaturas/add}"
            th:object="${asignatura}"
            method="post">
            <input type="number" name="id" hidden th:value="${asignatura.id}" />
            <div class="mb-3">
                <label class="form-label" for="nombre">Nombre:</label>
                <input class="form-control" name="nombre" 
                    th:value="${asignatura.nombre}" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="curso">Curso:</label>
                <input class="form-control" name="curso" 
                    th:value="${asignatura.curso}" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="ciclo">Ciclo:</label>
                <input class="form-control" name="ciclo" 
                    th:value="${asignatura.ciclo}" />
            </div>
            <div>
                <button class="btn btn-success mt-3" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <div th:replace="fragmentos/general.html :: footer"></div>
</div>
</body>

</html>